*.sw[nop]
*.py[co]
*~
*.log
.DS_Store
.project
.settings
results/
mochawesome-report/
TAGS
config.json
node_modules/
package-lock.json
*.vswp
.vscode
localConfig.cjs
config.json
reports/**
!.gitkeep
allure-results/