{{!--
Copyright 2024 Digital Bazaar, Inc.

SPDX-License-Identifier: LicenseRef-w3c-3-clause-bsd-license-2008 OR LicenseRef-w3c-test-suite-license-2023
--}}

<section id="abstract">
  <p>
This is a interoperability report for implementers for the
<a href="https://w3c.github.io/vc-data-model/">Verifiable Credentials Data Model
v2.0 specification</a>.
  </p>
</section>
